*{margin: 0;padding: 0}
.calender{
    padding: 200px;
}
.calender_menu{
    display: inline;
}
.inputBox{
  padding: 2px 10px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
  position: relative;
}
.inputBox:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    background: #ccc;
}
.view{
    height: 280px;
    width:420px;
    border: 1px solid #000000;
    background: #eee8e8;
}
.pickeryear{
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
.left{
    float: left;
    width: 33.33%;
    text-align: center;
}
.right{
    float: left;
    width: 33.33%;
    text-align: center;
}
.center{
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 18px;
}
.btn{
    padding: 4px 10px;
    background: rgb(0, 164, 230);
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}
.pickerdate{
    color: #333333;
    font-size: 14px;
}
.pickerdate span{
    display: block;
}
.pickerdate span.cd{
   font-size: 12px;
   color: #888888;
}
.pickerdate table{
    width: 100%;
    text-align: center;
    line-height: 15px;
    border-collapse: collapse;
}
.pickerdate table td{
    padding-bottom:2px ;
    cursor: pointer;
}
.pickerdate table th{
   line-height: 30px;
}